@import "../../../styles/lavenes.scss";

.card-image-container {
    width: 100%;
    border-radius: 11px;

    &::after {
        content: "";
        display: block;
        padding-bottom: 60%;
    }
}

.item-information-screen {
    & .title {
        font-size: $title1;
        color: $primary-text-color;
        font-weight: 600;
        margin-top: $section-gap;
        display: block;
    }

    & .card-image-container {
        width: calc(100% + $view-padding-horizontal * 2);
        margin-inline: -$view-padding-horizontal;
        margin-top: -$view-padding-vertical;
        border-radius: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: gray;

    
        &::after {
            padding-top: 50%;
        }
    }
}