$primary-text-color: #16161A;
$secondary-text-color: #414141;

$primary-divide-color: #d8d8d8;

$primary-border-color: rgba(22, 22, 26, 0.08);

$primary-input-background-color: rgba(22, 22, 26, 0.04);
$primary-input-active-background-color: #16161A;

$primary-input-active-font-color: #fff;

$primary-button-color: #16161A;
