$view-padding-vertical: 24px;
$view-padding-horizontal: 24px;
$view-padding: $view-padding-vertical $view-padding-horizontal;

$section-gap-large: 48px;
$section-gap: 24px;
$section-gap-small: 16px;
$section-gap-mid: 32px;

$section-gap1: 56px;
$section-gap2: 48px;
$section-gap3: 44px;
$section-gap4: 40px;
$section-gap5: 36px;
$section-gap6: 32px;

$grid-gap: 16px;