$largeTitle: 34px;
$title1: 28px;
$title2: 22px;
$title3: 20px;
$headline: 17px;
$headline2: 15px;
$body: 14px;
$callout: 14px;
$subhead: 13px;
$footnote: 13px;
$caption1: 12px;
$caption2: 11px;

$font-family: "Google Sans", sans-serif;